*{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

body{
    margin: 0;
    background-color: rgb(210, 58, 58);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora{
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color: rgb(181, 11, 85);
    padding: 15px;
    border-radius: 32px;
    box-shadow: 15px 10px 0px 5px #00000033;
}

button{
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 32px;
    font-size: 1.5em;
    border: none;
    background-color: rgb(229, 36, 129);
    box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #e01a737c;
}

button:active {
    background-color: #72102d;
}

button:focus{
    outline: none;
}

.display{
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items:flex-end;
    background-color: rgba(21, 18, 18, 0.547);
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
}

.col-2{
    grid-column: span 2 ;
}

#valor-actual{
    font-size: 1.5em;
}

#valor-anterior{
    font-size: 2em;
}